<h1 class="text-center mt-4">Listing all Articles</h1>
<%= render 'article', obj: @articles %>
<br>
<%= link_to 'Create new article', new_article_path %> |
<%= link_to 'Home page', root_path %> |
<%= link_to 'About', about_path %>
