<h1>Showing article details</h1>
<% flash.each do |name, msg| %>
  <%= msg %>
<% end %>
<p><strong>Article title: <%= @article.title %></strong></p>
<p><strong>Article description: <%= @article.description %></strong></p>